<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarWars Spaceships Hyperdrive Rating</title>
</head>
<body>
    <div align="center">
        <h1>Click on the Button in order to retrieve the hyperdrive ranking of the Starwars Spaceships</h1>
        <h5>(Should take about a minute to display results)</h5>
        <br>
        <form action="/get_starships/" method="post">
            <button name="getStarships" type="submit">Get Starships!</button>
        </form>
    </div>
</body>
</html>